
.antd-layout-header{
  line-height: 72px;
  box-shadow: 4px 4px 40px 0 rgba(0,0,0,.05);
  position: relative;
  /* display: flex; */
  justify-content: space-between;
  height: 72px;
  z-index: 9;
  align-items: center;
  background-color: #fff;
}

.antd-layout-sider{
  max-width: 256px !important;
  min-width: 256px !important;
  width: 256px !important;
  z-index: 10;
  box-shadow: 0 0 28px 0 rgba(24,144,255,.1);
}

.antd-side-menu-container{
  padding: 24px 0 24px 0;
}


.antd-layout-brand {
  z-index: 1;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  box-shadow: 0 1px 9px -3px rgba(0, 0, 0, 0.2);
}

.antd-layout-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.antd-layout-logo img{ 
  width: 36px;
  margin-right: 8px;
}

.antd-layout-logo h1{
  vertical-align: text-bottom;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 700;
  color: #1890ff;
  white-space: nowrap;
  margin-bottom: 0;
  background-image: -webkit-gradient(linear,37.219838% 34.532506%,36.425669% 93.178216%,from(#29cdff),to(#0a60ff),color-stop(.37,#148eff));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}